/* ---------------------------------
4. SLIDER
--------------------------------- */

.slider{ height: 300px; width: 100%; background-image: url(../../images/slider-1.jpg); background-size: cover; }  
 
.slider .title{ color: #fff; text-shadow: 2px 2px 10px rgba(0,0,0,.3); }


/* ---------------------------------
5. SINGLE POST
--------------------------------- */

.blog-area{ background: #EDF3F3; }

.post-wrapper{ padding: 50px 50px 20px; margin-bottom: 30px; box-shadow: 0px 0px 5px rgba(0,0,0,.1); 
	border: 1px solid #ddd; background: #fff; }

.blog-area .title{ margin-bottom: 25px; }

.blog-area .para{ margin-bottom: 25px; }